# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# MNIST dataset
data/
data/MNIST/
*.gz

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db